{{ form_start(formReserveEquipe2, {'attr': {'id': 'formAjouterReserveEquipe2'}}) }}
<div class="mb-3 row">
	{{ form_label(formReserveEquipe2.reserveEquipe2) }}
	<div class="col-12">
		{{ form_widget(formReserveEquipe2.reserveEquipe2, {'attr': {'class': 'form-control'}}) }}
	</div>
</div>
<div class="text-center">
	<button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
</div>
{{ form_end(formReserveEquipe2) }}
