{{ form_start(form, {'attr': {'id': 'formReserveEquipe2'}}) }}
<div class="mb-3 row">
	{{ form_label(form.reserveEquipe2) }}
	<div class="col-12 col-sm-10">
		{{ form_widget(form.reserveEquipe2, {'attr': {'class': 'form-control'}}) }}
	</div>
</div>
<div class="text-center">
	<button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
</div>
{{ form_end(form) }}
