<form method="post" action="{{ path('app_joueur_delete', {'id': joueur.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ joueur.id) }}">
    <button class="btn btn-sm text-danger delete-btn"> <i class="fas fa-trash"></i> Supprimer</button>
</form>
