<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Feuille de match</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                font-size: 12px;
            }

            .flex {
                display: flex;
                padding: 2px;
            }

            .w-25 {
                width: 25%;
            }

            .logo {
                width: 100px;
                height: 100px;
                border: 1px solid black;
                padding: 0;
            }

            .center {
                text-align: center;
            }

            .w-30 {
                width: 30%;
            }

            .w-50 {
                width: 50%;
            }

            .mt-20px {
                margin-top: 20px;
                padding: 5px;
            }

            .p-5 {
                padding: 5px;
            }

            table,
            th,
            td {
                border: 1px solid black;
                border-collapse: collapse;
            }

            th {
                background-color: #2fa4e7;
                color: white;
            }

            .ligneTitulaires {
                background-color: #2fe78e;
                color: rgb(0, 0, 0);
            }

            .ligneRemplacants {
                background-color: #dc775b;
                color: rgb(0, 0, 0);
            }

            table,
            tr {
                width: 100%;
            }

            .text-vertical {
                writing-mode: vertical-rl;
                text-orientation: sideways;
            }
        </style>
    </head>
    <body>
        <section>
            <h2 class="center">Feuille de match</h2>
        </section>
        <section class="mt-20px">
            <div class="flex">
                <div class="w-25">
                    <div class="logo"><img class="logo" src="../public/images/ascm-logo.png" alt="Logo de l'association"></div>
                </div>
                <div class="w-50">
                    <div class="mt-20px">
                        <table>
                            <tr>
                                <td class="w-30">Type de match :</td>
                                <td>{{ matche.type }}</td>
                            </tr>
                            <tr>
                                <td class="w-30">Date du match :</td>
                                <td>{{ matche.ladate|date('d/m/Y à H:i') }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="mt-20px">
                        <table>
                            <tr>
                                <td class="center" rowspan="2">{{ matche.equipe1.nom }}</td>
                                <td class="center">Score</td>
                                <td class="center" rowspan="2">{{ matche.equipe2.nom }}</td>
                            </tr>
                            <tr>
                                <td class="center">{{ matche.getScoreEquipe1 }} - {{ matche.getScoreEquipe2 }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="w-25">
                    <div class="mt-20px">
                        <table>
                            <tr>
                                <th colspan="2" class="center">Arbitres</th>
                            </tr>
                            <tr>
                                <td class="w-50">central :
                                </td>
                                <td>A</td>
                            </tr>
                            <tr>
                                <td class="w-50">Assistant 1 :</td>
                                <td>A</td>
                            </tr>
                            <tr>
                                <td class="w-50">Assistant 2 :</td>
                                <td>A</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section class="mt-20px">
            <div class="flex">
                {% set maxLignes = 11 %}
                {% set joueursEquipe1 = [] %}
                {% for joueurId in matche.feuilleMatch.titulairesEquipe1 %}
                    {% set joueursEquipe1 = joueursEquipe1|merge([joueurs[joueurId]]) %}
                {% endfor %}
                {% set joueursEquipe2 = [] %}
                {% for joueurId in matche.feuilleMatch.titulairesEquipe2 %}
                    {% set joueursEquipe2 = joueursEquipe2|merge([joueurs[joueurId]]) %}
                {% endfor %}
                <div class="tabEquipe w-50 p-5">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="7">Nom de l’équipe recevante :
                        {{ matche.equipe1.nom }}</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>N°</th>
                                <th>Nom</th>
                                <th>Avertis</th>
                                <th>Expulsé</th>
                                <th>Remplacé</th>
                                <th>But(s)</th>
                            </tr>
                        </thead>
                        <tbody>
                             {% for i in 0..(maxLignes - 1) %}
                            <tr class="ligneTitulaires">
                                {% if joueursEquipe1[i] is defined %}
                                {% if i == 0 %}
                                <th rowspan="11" class="text-vertical">Titulaires</th>
                                {% endif %}
                                <td>{{ joueursEquipe1[i].numero }}</td>
                                <td>{{ joueursEquipe1[i].nom }}</td>
                                <td>{% for carton in matche.cartons %}
                                    {% if carton.joueur.id == joueursEquipe1[i].id and carton.couleur == 'jaune' %}
                                        X
                                    {% endif %}
                                {% endfor %}</td>
                                <td>{% for carton in matche.cartons %}
                                    {% if carton.joueur.id == joueursEquipe1[i].id and carton.couleur == 'rouge' %}
                                        X
                                    {% endif %}
                                {% endfor %}</td>
                                <td>{% for remplacement in matche.remplacements %}
                                    {% if remplacement.joueurSortant.id == joueursEquipe1[i].id %}
                                        {{ remplacement.minute }}'
                                    {% endif %}
                                {% endfor %}</td>
                                <td>{% for but in matche.buts %}
                                    {% if but.joueur.id == joueursEquipe1[i].id %}
                                        {{ but.minute }}' ({{ but.type }})
                                    {% endif %}
                                {% endfor %}</td>
                                {% else %}
                            <td colspan="7"></td>
                        {% endif %}
                         {% endfor %}


                            </tr>
                            <tr class="ligneRemplacants">
                                <th rowspan="6" class="text-vertical">Remplaçants</th>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                            </tr>
                            <tr class="ligneRemplacants">
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                            </tr>
                            <tr class="ligneRemplacants">
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                            </tr>
                            <tr class="ligneRemplacants">
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                            </tr>
                            <tr class="ligneRemplacants">
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                            </tr>
                            <tr class="ligneRemplacants">
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                            </tr>
                            <tr>
                                <td colspan="4">Nom du capitaine ou dirigeant :</td>
                                <td colspan="3" rowspan="2">Signature :</td>
                            </tr>
                            <tr>
                                <td colspan="4">A</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tabEquipe w-50 p-5">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="7">Nom de l’équipe visiteur : {{ matche.equipe2.nom }}</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>N°</th>
                                <th>Nom</th>
                                <th>Avertis</th>
                                <th>Expulsé</th>
                                <th>Remplacé</th>
                                <th>But(s)</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for i in 0..(maxLignes - 1) %}
                            <tr class="ligneTitulaires">
                                {% if joueursEquipe2[i] is defined %}
                                {% if i == 0 %}
                                <th rowspan="11" class="text-vertical">Titulaires</th>
                                {% endif %}
                                <td>{{ joueursEquipe2[i].numero }}</td>
                                <td>{{ joueursEquipe2[i].nom }}</td>
                                <td>{% for carton in matche.cartons %}
                                    {% if carton.joueur.id == joueursEquipe2[i].id and carton.couleur == 'jaune' %}
                                        X
                                    {% endif %}
                                {% endfor %}</td>
                                <td>{% for carton in matche.cartons %}
                                    {% if carton.joueur.id == joueursEquipe2[i].id and carton.couleur == 'rouge' %}
                                        X
                                    {% endif %}
                                {% endfor %}</td>
                                <td>{% for remplacement in matche.remplacements %}
                                    {% if remplacement.joueurSortant.id == joueursEquipe2[i].id %}
                                        {{ remplacement.minute }}'
                                    {% endif %}
                                {% endfor %}</td>
                                <td>{% for but in matche.buts %}
                                    {% if but.joueur.id == joueursEquipe2[i].id %}
                                        {{ but.minute }}' ({{ but.type }})
                                    {% endif %}
                                {% endfor %}</td>
                                {% else %}
                            <td colspan="7"></td>
                        {% endif %}
                         {% endfor %}


                            </tr>
                            
                            <tr class="ligneRemplacants">
                                <th rowspan="6" class="text-vertical">Remplaçants</th>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                            </tr>
                            <tr class="ligneRemplacants">
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                            </tr>
                            <tr class="ligneRemplacants">
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                            </tr>
                            <tr class="ligneRemplacants">
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                            </tr>
                            <tr class="ligneRemplacants">
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                            </tr>
                            <tr class="ligneRemplacants">
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                            </tr>
                            <tr>
                                <td colspan="4">Nom du capitaine ou dirigeant :</td>
                                <td colspan="3" rowspan="2">Signature :</td>
                            </tr>
                            <tr>
                                <td colspan="4">A</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

    </body>
</html>
