<form class="my-3" method="post" action="{{ path('app_matche_delete', {'id': matche.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ matche.id) }}">
    <button class="btn btn-danger delete-btn">Supprimer ce match</button>
</form>
