{% extends 'base.html.twig' %}

{% block title %}Nouveau match
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block body %}
	<div class="container mt-5 pt-4">
		<a class="btn btn-success mb-4" role="button" href="{{ path('app_matche_index') }}">Retour au Tableau de bord</a>
		<h1 class="text-center">Créer un match</h1>
		<div class="card mb-4" id="matchForm">
			<div class="card-header bg-primary text-white">Créer un nouveau match</div>
			<div class="card-body">
				{{ include('matche/_form.html.twig') }}
			</div>
		</div>
		<a class="btn btn-success " role="button" href="{{ path('app_matche_index') }}">Retour au Tableau de bord</a>

	</div>

{% endblock %}
{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script>
		// document.addEventListener('DOMContentLoaded', function () {
        //     flatpickr('.js-datepicker', {
        //         locale: "fr",
        //         enableTime: true,
        //         dateFormat: "Y-m-d H:i",
        //         time_24hr: true,
        //     });
        // });
	</script>
{% endblock %}
